---
title: Пост
layout_class: layout-post
---

<form
    class="editor"
    x-data="editor"
    x-on:submit.prevent="submit"
    x-on:input="clearErrors"
    x-bind:data-busy="busy"
    x-on:uploader-started.window="handleUploadStarted"
    x-on:uploader-completed.window="handleUploadCompleted"
    x-on:carousel-remove="handleImageRemove"
>
    <input type="hidden" name="url" />

    <div class="editor-title">
        <input
            type="text"
            class="input"
            x-bind:placeholder="images.length > 0 || Boolean(url) ? 'Заголовок' : 'Заголовок або URL (YouTube, SoundCloud, Reddit, Telegram, X)...'"
            autofocus
            minlength="2"
            maxlength="256"
            name="title"
            x-model="title"
            x-on:paste="handleTitlePaste"
            x-on:change="handleTitleChange"
            x-bind:readonly="busy"
        />
        <template x-if="!Boolean(url)">
            <label
                type="button"
                class="button button-secondary"
                for="uploader-input"
            >
                {% svg icons/photo-up.svg %}
            </label>
        </template>
    </div>

    <template x-if="externalData">
        <div class="editor-external">
            <div
                x-data="external(null, externalData)"
                x-html="template"
                x-bind:data-host="host"
            ></div>
            <button
                type="button"
                class="editor-external-remove"
                x-on:click="removeExternal"
            >
                {% svg icons/x.svg %}
            </button>
        </div>
    </template>

    <!--prettier-ignore-->
    {% include carousel.html %}

    {% include marke.html maxlength=5000 name='body' model='body'
    placeholder='Текст...' %}

    <select
        class="input"
        name="feed_id"
        x-model="feed_id"
        x-on:change="handleFeedIdChange"
    >
        <option value="" x-text="`${user.name} (власна стрічка)`"></option>
        <template x-for="feed in feeds">
            <option x-bind:value="feed.id" x-text="feed.name"></option>
        </template>
    </select>

    <template x-if="feeds.find(feed => feed.id == feed_id)?.description">
        <div
            x-text="feeds.find(feed => feed.id == feed_id).description"
            class="editor-description"
        ></div>
    </template>

    <div class="editor-actions">
        <button class="button button-primary">
            {% svg icons/send-2.svg %}
            <span class="button-label">Опублікувати</span>
        </button>
        <button class="button">
            {% svg icons/history.svg %}
            <span class="button-label">Відкласти</span>
        </button>
    </div>
</form>

<!--prettier-ignore-->
{% include popovers/editor_attachment_popover.html %}
{% include uploader.html %}
