---
title: Пост
layout_class: layout-post
---

<form
    class="editor"
    x-data="editor"
    x-bind:data-busy="busy"
    x-bind:action="id ? `/posts/${id}` : '/posts'"
    x-bind:method="id ? 'put' : 'post'"
    x-on:input="clearErrors"
    x-on:submit.prevent="handleSubmit"
    x-on:paste.window="handlePaste"
    x-on:uploader-started.window="handleUploadStarted"
    x-on:uploader-completed.window="handleUploadCompleted"
    x-on:external-removed.window="handleExternalRemoved"
    x-on:gallery-started.window="handleGalleryStarted"
    x-on:gallery-succeed.window="handleGallerySucceed"
    x-on:gallery-failed.window="handleGalleryFailed"
>
    <input type="hidden" name="url" x-model="url" />
    <input type="hidden" name="external_id" x-model="external_id" />
    <input type="hidden" name="gallery_id" x-model="gallery_id" />

    <div class="editor-title">
        <input
            type="text"
            class="input"
            autofocus
            minlength="2"
            maxlength="256"
            name="title"
            x-model="title"
            x-bind:readonly="busy"
            x-bind:placeholder="canPasteUrl() ?  'Заголовок або URL' : 'Заголовок'"
            x-on:paste="handleTitlePaste"
            x-on:change="handleTitleChange"
        />
        <template x-if="shouldShowTranslate">
            <button
                type="button"
                class="button button-secondary"
                x-on:click="translate"
            >
                {% svg icons/language.svg %}
            </button>
        </template>
        <template x-if="canUpload">
            <label
                type="button"
                class="button button-secondary"
                for="uploader-input"
            >
                {% svg icons/photo-up.svg %}
            </label>
        </template>
    </div>

    <div
        x-data="external(null, true)"
        x-html="template"
        x-show="shouldShowExternal() && Boolean(data)"
        x-on:external-resolve.window="handleResolve"
        x-on:external-set-data.window="handleSetData"
    ></div>

    <div
        x-data="gallery(null, true)"
        x-html="template"
        x-show="shouldShowGallery() && Boolean(data)"
        x-on:gallery-add.window="handleAdd"
        x-on:gallery-set-data.window="handleSetData"
    ></div>

    <!--prettier-ignore-->

    {% include marke.html
        maxlength=5000
        name='body'
        model='body'
        placeholder='Текст' %}

    <div
        x-bind:class="{
            'editor-feed': true,
            'editor-feed-selected': hasSelectedFeed(),
        }"
        x-bind:title="cannotChangeFeed() ? 'Немає можливості змінити стрічку у вже опублікованому пості' : ''"
    >
        <img alt=" " x-bind:src="selectedFeed()?.image" />
        <select
            class="input"
            name="feed_id"
            x-model="feed_id"
            x-bind:disabled="cannotChangeFeed"
            x-on:paste.stop
        >
            <template x-for="feed in feeds">
                <option
                    x-bind:value="feed.id"
                    x-text="`${feed.name}${feed.is_user_feed ? ' (власна стрічка)' : ''}`"
                ></option>
            </template>
        </select>
    </div>

    <template x-if="selectedFeed()?.description">
        <div
            x-text="selectedFeed().description"
            class="editor-description"
        ></div>
    </template>

    <div class="editor-actions">
        <button class="button button-primary">
            {% svg icons/send-2.svg %}
            <span class="button-label">Опублікувати</span>
        </button>
        <button class="button">
            {% svg icons/history.svg %}
            <span class="button-label">Відкласти</span>
        </button>
    </div>
</form>

<!--prettier-ignore-->
{% include popovers/editor_attachment_popover.html %}
{% include uploader.html %}
