---
title: Стрічка
---

<!--prettier-ignore-->
{% include post.html
    id=1
    author_url='/feed?url=/t/cinema'
    author_name='Освіта та кар\'єра'
    author_status='автор Ігор Віговський'
    author_status_url='/feed?url=/u/igor_vigovsky'
    author_caption='10 хвилин тому'
    author_image='/assets/topics/education.png'
    title='Ajax Systems відкрили лабораторію електроніки у співпраці з НАУ'
    description='Простір призначений для практичного навчання студентів і розробки інноваційних рішень у галузі електроніки. Проєкт є частиною освітньої ініціативи Ajax Next'
    url='/post?id=123'
    external_url='https://www.reddit.com/r/CrappyDesign/comments/1fyxf5i/packaging_that_shows_off_the_design_so_smart/'
%}
{% include post.html
    id=2
    author_url='/feed?url=/t/cinema'
    author_name='Освіта та кар\'єра'
    author_status='автор Ігор Віговський'
    author_status_url='/feed?url=/u/igor_vigovsky'
    author_caption='10 хвилин тому'
    author_image='/assets/topics/education.png'
    title='Ajax Systems відкрили лабораторію електроніки у співпраці з НАУ'
    description='Простір призначений для практичного навчання студентів і розробки інноваційних рішень у галузі електроніки. Проєкт є частиною освітньої ініціативи Ajax Next'
    external_url='https://t.me/casesmedia/6574'
%}
{% include post.html
    id=3
    author_url='/feed?url=/t/cinema'
    author_name='Освіта та кар\'єра'
    author_status='автор Ігор Віговський'
    author_status_url='/feed?url=/u/igor_vigovsky'
    author_caption='10 хвилин тому'
    author_image='/assets/topics/education.png'
    title='Ajax Systems відкрили лабораторію електроніки у співпраці з НАУ'
    description='Простір призначений для практичного навчання студентів і розробки інноваційних рішень у галузі електроніки. Проєкт є частиною освітньої ініціативи Ajax Next'
    external_url='https://t.me/casesmedia/6574'
%}
{% include post.html
    id=5
    author_url='/feed?url=/t/cinema'
    author_name='Освіта та кар\'єра'
    author_status='автор Ігор Віговський'
    author_status_url='/feed?url=/u/igor_vigovsky'
    author_caption='10 хвилин тому'
    author_image='/assets/topics/education.png'
    title='Ajax Systems відкрили лабораторію електроніки у співпраці з НАУ'
    description='Простір призначений для практичного навчання студентів і розробки інноваційних рішень у галузі електроніки. Проєкт є частиною освітньої ініціативи Ajax Next'
    external_url='https://t.me/casesmedia/6574'
%}
{% include post.html
    id=5
    author_url='/feed?url=/t/cinema'
    author_name='Освіта та кар\'єра'
    author_status='автор Ігор Віговський'
    author_status_url='/feed?url=/u/igor_vigovsky'
    author_caption='10 хвилин тому'
    author_image='/assets/topics/education.png'
    title='Ajax Systems відкрили лабораторію електроніки у співпраці з НАУ'
    description='Простір призначений для практичного навчання студентів і розробки інноваційних рішень у галузі електроніки. Проєкт є частиною освітньої ініціативи Ajax Next'
    external_url='https://t.me/casesmedia/6574'
    placeholder=true
%}

{% include popovers/post_popover.html %}
{% include popovers/reactions_popover.html %}
{% include popovers/counts_popover.html %}
