<ul class="activity">
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
    <li class="activity-item">{% include activity_item.html %}</li>
</ul>
