<ul class="activity">
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
    <li class="activity-item">
        {% include activity_item.html
        image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
        name='Ігор Віговський' caption='10 хвилин тому' url='#' %}
    </li>
</ul>
