<div class="box" x-data="inline_search">
    <!--prettier-ignore-->
    {% include box_header.html
            title=include.title
            include_start=include.include_start
            include_end=include.include_end
    %}

    {% include search.html placeholder=include.search_placeholder %}

    <!--prettier-ignore-->
    {% if page.box_list_item %}
    {% assign list_item = page.box_list_item %}
    {% else %}
    {% assign list_item = "list_item.html" %}
    {% endif %}

    {% assign list_size = include.list | size %}

    <nav class="list">
        <!--prettier-ignore-->
        {% if list_size > 0 %}
        {% for item in include.list %}
        {% include {{list_item}}
                name=item.title
                url=item.url
                image=item.image
                description=item.description
        %}
        {% endfor %}
        {% else %}
        <span class="list-empty">Порожньо</span>
        {% endif %}
    </nav>
</div>
