<!--prettier-ignore-->
{% if include.title %}
{% assign title=include.title %}
{% else %}
{% assign title=page.title %}
{% endif %}

<div class="box-header">
    <div class="box-header-start">
        <!--prettier-ignore-->
        {% if include.include_start %}
        {% include {{include.include_start}} %}
        {% endif %}
    </div>
    <h1 class="box-title">{{title}}</h1>
    <div class="box-header-end">
        <!--prettier-ignore-->
        {% if include.include_end %}
        {% include {{include.include_end}} %}
        {% endif %}
    </div>
</div>
