<div class="editor">
    <div class="editor-actions">
        <button type="button">{% svg icons/bold.svg %}</button>
        <button type="button">{% svg icons/italic.svg %}</button>
        <button type="button">{% svg icons/quote.svg %}</button>
        <button type="button">{% svg icons/list.svg %}</button>
        <button type="button">{% svg icons/list-numbers.svg %}</button>
        <button type="button">{% svg icons/link.svg %}</button>
        <button type="button">{% svg icons/photo.svg %}</button>
    </div>
    <textarea class="input" placeholder="Почніть писати..."></textarea>
</div>
