<template x-if="images.length > 0">
    <div class="gallery" x-data="gallery">
        <div class="gallery-items" x-ref="items">
            <template x-for="(image, index) in images">
                <div class="gallery-item">
                    <img
                        x-bind:src="image.url"
                        x-bind:style="{ '--image': 'url(' + image.url + ')' }"
                        x-on:load="handleImageLoad"
                    />
                    <button
                        type="button"
                        class="gallery-remove"
                        x-on:click="remove(index)"
                    ></button>
                </div>
            </template>
        </div>
        <button
            type="button"
            class="gallery-button gallery-button-start"
            x-bind:disabled="scrolledStart"
            x-on:click="prev"
        ></button>
        <button
            type="button"
            class="gallery-button gallery-button-end"
            x-bind:disabled="scrolledEnd"
            x-on:click="next"
        ></button>
    </div>
</template>
