<a href="#" class="button button-primary">
    {% svg icons/plus.svg %}
    <span class="button-label">Створити</span>
</a>

<button
    class="button"
    popovertarget="notifications-popover"
    style="anchor-name: --notifications-button-anchor"
>
    {% svg icons/bell.svg %}
</button>

<button
    class="avatar"
    popovertarget="profile-popover"
    style="anchor-name: --profile-button-anchor"
>
    <img
        src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
    />
</button>

<div
    id="profile-popover"
    class="popover"
    popover
    style="--popover-anchor: --profile-button-anchor"
>
    <nav class="nav nav-white">
        <a href="#" class="nav-button">
            {% svg icons/settings.svg %}
            <span class="nav-button-label">Налаштування</span>
        </a>
        <a href="#" class="nav-button">
            {% svg icons/logout.svg %}
            <span class="nav-button-label">Вийти</span>
        </a>
    </nav>
</div>

<div
    id="notifications-popover"
    class="popover"
    popover
    style="--popover-anchor: --notifications-button-anchor"
>
    <div class="popover-header">
        <span class="popover-title">Сповіщення</span>
        <button
            class="button"
            popovertarget="notifications-options-popover"
            style="anchor-name: --notifications-options-button-anchor"
        >
            {% svg icons/dots.svg %}
        </button>
    </div>
    <ul class="notifications">
        <li class="notifications-item notifications-item-active">
            <a href="#">{% include userinfo_status.html %}</a>
        </li>
        <li class="notifications-item notifications-item-active">
            <a href="#">{% include userinfo_status.html %}</a>
        </li>
        <li class="notifications-item">
            <a href="#">{% include userinfo_status.html %}</a>
        </li>
        <li class="notifications-item">
            <a href="#">{% include userinfo_status.html %}</a>
        </li>
        <li class="notifications-item">
            <a href="#">{% include userinfo_status.html %}</a>
        </li>
    </ul>
    <a href="#" class="button">
        {% svg icons/chevron-down.svg %}
        <span class="button-label">Показати всі</span>
    </a>
</div>

<div
    id="notifications-options-popover"
    class="popover popover-end"
    popover
    style="--popover-anchor: --notifications-options-button-anchor"
>
    <nav class="nav nav-white">
        <button class="nav-button">
            {% svg icons/checks.svg %}
            <span class="nav-button-label">Позначити як прочитані</span>
        </button>
        <a href="#" class="nav-button">
            {% svg icons/settings.svg %}
            <span class="nav-button-label">Налаштувати сповіщення</span>
        </a>
    </nav>
</div>
