<a href="#" class="button button-primary">
    {% svg icons/plus.svg %}
    <span class="button-label">Створити</span>
</a>

<button
    class="button"
    popovertarget="notifications-popover"
    style="anchor-name: --notifications-button-anchor"
>
    {% svg icons/bell.svg %}
</button>

<button
    class="avatar"
    popovertarget="profile-popover"
    style="anchor-name: --profile-button-anchor"
>
    <img
        src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
    />
</button>

<!--prettier-ignore-->
{% include profile_popover.html %}
{% include notifications_options_popover.html %}
{% include notifications_popover.html %}
