<a href="{{include.url}}" class="list-item" x-show="isShowedBySearch($el)">
    <span class="button">
        <!--prettier-ignore-->
        {% if include.image %}
        <img src="{{include.image}}" class="list-image" alt=" " />
        <!--prettier-ignore-->
        {% else %}
        {% svg icons/folder.svg %}
        {% endif %}
        <span class="button-label">{{include.name}}</span>
    </span>

    {% if include.label %}
    <span class="list-item-label">{{include.label}}</span>
    {% endif %}

    <!--prettier-ignore-->
    {% svg icons/chevron-right.svg %}
</a>
