<div class="marke">
    <div class="marke-actions">
        <button type="button" tabindex="-1">{% svg icons/bold.svg %}</button>
        <button type="button" tabindex="-1">{% svg icons/italic.svg %}</button>
        <button type="button" tabindex="-1">{% svg icons/quote.svg %}</button>
        <button type="button" tabindex="-1">{% svg icons/list.svg %}</button>
        <button type="button" tabindex="-1">
            {% svg icons/list-numbers.svg %}
        </button>
        <button type="button" tabindex="-1">{% svg icons/link.svg %}</button>
        <!-- <button type="button" tabindex="-1">{% svg icons/photo.svg %}</button> -->
    </div>
    <!--prettier-ignore-->
    <textarea
        class="input"
        {% if include.placeholder %}
        placeholder="{{include.placeholder}}"
        {% endif %}
        x-data
        x-autosize
        {% if include.name %}
        name="{{include.name}}"
        {% endif %}
        {% if include.model %}
        x-model="{{include.model}}"
        {% endif %}
        {% if include.minlength %}
        minlength="{{include.minlength}}"
        {% endif %}
        {% if include.maxlength %}
        maxlength="{{include.maxlength}}"
        {% endif %}
    ></textarea>
</div>
