<div
    id="notifications-popover"
    class="popover popover-bottom-end"
    popover
    style="--popover-anchor: --notifications-button-anchor"
>
    <div class="popover-header">
        <span class="popover-title">Сповіщення</span>
        <button
            class="button"
            popovertarget="notifications-options-popover"
            style="anchor-name: --notifications-options-button-anchor"
        >
            {% svg icons/dots.svg %}
        </button>
    </div>
    <ul class="notifications">
        <li class="notifications-item notifications-item-active">
            <a href="#">
                {% include userinfo.html status='відповів у пості «Серіал
                «Володар перснів ...»' name='Ігор Віговський'
                image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
                caption='10 хвилин тому' %}
            </a>
        </li>
        <li class="notifications-item notifications-item-active">
            <a href="#"
                >{% include userinfo.html status='відповів у пості «Серіал
                «Володар перснів ...»' name='Ігор Віговський'
                image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
                caption='10 хвилин тому' %}</a
            >
        </li>
        <li class="notifications-item">
            <a href="#"
                >{% include userinfo.html status='відповів у пості «Серіал
                «Володар перснів ...»' name='Ігор Віговський'
                image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
                caption='10 хвилин тому' %}</a
            >
        </li>
        <li class="notifications-item">
            <a href="#"
                >{% include userinfo.html status='відповів у пості «Серіал
                «Володар перснів ...»' name='Ігор Віговський'
                image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
                caption='10 хвилин тому' %}</a
            >
        </li>
        <li class="notifications-item">
            <a href="#"
                >{% include userinfo.html status='відповів у пості «Серіал
                «Володар перснів ...»' name='Ігор Віговський'
                image='https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250'
                caption='10 хвилин тому' %}</a
            >
        </li>
    </ul>
    <a href="#" class="button">
        {% svg icons/chevron-down.svg %}
        <span class="button-label">Показати всі</span>
    </a>
</div>
