<article class="post {% if include.placeholder %}post-placeholder{% endif %}">
    <div class="post-header">
        {% include userinfo_post.html placeholder=include.placeholder %}
        <button
            class="button"
            popovertarget="post-popover"
            onclick="document.body.style = '--post-popover-anchor: --post-{{ include.id }}-button-anchor';"
            style="anchor-name: --post-{{ include.id }}-button-anchor"
        >
            {% svg icons/dots.svg %}
        </button>
    </div>
    <div class="post-summary">
        <h2 class="post-title">
            <a href="#">
                Серіал «Володар перснів»: Том Бомбаділ підказує, ким є
                Незнайомець, шоуранер обіцяє відповідь в цьому сезоні
            </a>
        </h2>
        <p class="post-description">
            <a href="#">
                Схоже, інтрига з особою Незнайомця в серіалі «Володар перснів:
                Персні влади» завершується. Том Бомбаділ практично назвав Істарі
                цитатою з Толкіна.
            </a>
        </p>
    </div>
    {% include media.html placeholder=include.placeholder %}
    <div class="post-footer">
        {% include reactions.html placeholder=include.placeholder id=include.id
        %}
    </div>
</article>
