<article class="post {% if include.placeholder %}post-placeholder{% endif %}">
    <div class="post-header">
        <!--prettier-ignore-->
        {% include userinfo.html
            status=include.author_status
            name=include.author_name
            image=include.author_image
            caption=include.author_caption
            url=include.author_url
            status=include.author_status
            status_url=include.author_status_url
            placeholder=include.placeholder
        %}
        <button
            class="button"
            popovertarget="post-popover"
            onclick="document.body.style = '--post-popover-anchor: --post-{{ include.id }}-button-anchor';"
            style="anchor-name: --post-{{ include.id }}-button-anchor"
        >
            {% svg icons/dots.svg %}
        </button>
    </div>
    <div class="post-summary">
        <!--prettier-ignore-->
        {% if include.title %}
        <h2 class="post-title">
            <a href="{{include.url}}">{{include.title}}</a>
        </h2>
        {% endif %}
        <!--prettier-ignore-->
        {% if include.description %}
        <p class="post-description">
            <a href="{{include.url}}">{{include.description}}</a>
        </p>
        {% endif %}
    </div>
    <!--prettier-ignore-->
    {% include media.html
        title=include.media_title
        caption=include.media_caption
        image=include.media_image
        placeholder=include.placeholder
    %}
    <div class="post-footer">
        <!--prettier-ignore-->
        {% include reactions.html
            placeholder=include.placeholder
            id=include.id
        %}
    </div>
</article>
