<div class="reactions">
    <button type="button" class="reactions-button reactions-button-visual">
        <span class="reactions-emoji">👍</span>
        <span class="reactions-count">5</span>
    </button>
    <button type="button" class="reactions-button reactions-button-visual">
        <span class="reactions-emoji">👎</span>
        <span class="reactions-count">5</span>
    </button>
    <button type="button" class="reactions-button reactions-button-visual">
        <span class="reactions-emoji">🚀</span>
        <span class="reactions-count">5</span>
    </button>
    <button
        type="button"
        class="reactions-button reactions-button-visual reactions-button-plus"
        popovertarget="reactions-popover"
        onclick="document.body.style = '--reactions-popover-anchor: --reactions-{{ include.id }}-button-anchor';"
        style="anchor-name: --reactions-{{ include.id }}-button-anchor"
    >
        {% svg icons/plus.svg %}
    </button>
    <button type="button" class="reactions-button">
        {% svg icons/message-circle.svg %}
        <span class="reactions-count">5</span>
    </button>
    <button class="reactions-button">
        {% svg icons/repeat.svg %}
        <span class="reactions-count">5</span>
    </button>
    <button type="button" class="reactions-button">
        {% svg icons/bookmark.svg %}
        <span class="reactions-count">5</span>
    </button>
    <button
        type="button"
        class="reactions-button"
        popovertarget="views-popover"
        onclick="document.body.style = '--views-popover-anchor: --views-{{ include.id }}-button-anchor';"
        style="anchor-name: --views-{{ include.id }}-button-anchor"
    >
        {% svg icons/eye.svg %}
        <span class="reactions-count">2.5K</span>
    </button>
</div>
