<div
    id="reactions-popover"
    class="popover popover-top"
    popover
    style="--popover-anchor: var(--reactions-popover-anchor)"
>
    <nav class="nav nav-emoji-grid nav-white">
        <button class="nav-button">
            <span class="nav-emoji">😄</span>
        </button>
        <button class="nav-button">
            <span class="nav-emoji">👀</span>
        </button>
        <button class="nav-button">
            <span class="nav-emoji">❤️</span>
        </button>
        <button class="nav-button">
            <span class="nav-emoji">🚀</span>
        </button>
        <button class="nav-button">
            <span class="nav-emoji">👍</span>
        </button>
        <button class="nav-button">
            <span class="nav-emoji">👎</span>
        </button>
        <button class="nav-button">
            <span class="nav-emoji">🎉</span>
        </button>
        <button class="nav-button">
            <span class="nav-emoji">😕</span>
        </button>
    </nav>
</div>
