<div class="reactions">
    <button type="button" class="reactions-button reactions-button-visual">
        <span class="reactions-emoji">👍</span>
        <span class="reactions-count">5</span>
    </button>
    <button type="button" class="reactions-button reactions-button-visual">
        <span class="reactions-emoji">👎</span>
        <span class="reactions-count">5</span>
    </button>
    <button type="button" class="reactions-button reactions-button-visual">
        <span class="reactions-emoji">🚀</span>
        <span class="reactions-count">5</span>
    </button>
    <button
        type="button"
        class="reactions-button reactions-button-visual reactions-button-plus"
        popovertarget="reactions-popover"
        onclick="document.body.style = '--reactions-popover-anchor: --reactions-{{ include.id }}-button-anchor';"
        style="anchor-name: --reactions-{{ include.id }}-button-anchor"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
        </svg>
    </button>
    <button type="button" class="reactions-button">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-message-circle"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1"
            />
        </svg>
        <span class="reactions-count">5</span>
    </button>
    <button class="reactions-button">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-repeat"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 12v-3a3 3 0 0 1 3 -3h13m-3 -3l3 3l-3 3" />
            <path d="M20 12v3a3 3 0 0 1 -3 3h-13m3 3l-3 -3l3 -3" />
        </svg>
        <span class="reactions-count">5</span>
    </button>
    <button type="button" class="reactions-button">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
        </svg>
        <span class="reactions-count">5</span>
    </button>
    <button
        type="button"
        class="reactions-button"
        popovertarget="views-popover"
        onclick="document.body.style = '--views-popover-anchor: --views-{{ include.id }}-button-anchor';"
        style="anchor-name: --views-{{ include.id }}-button-anchor"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path
                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
            />
        </svg>
        <span class="reactions-count">2.5K</span>
    </button>
</div>
