<div class="userinfo">
    <a href="#" class="userinfo-image">
        <img
            src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
        />
    </a>
    <div class="userinfo-name">
        <a href="#">Ігор Віговський</a>
        <!--<span class="userinfo-status">відповів у посту «Серіал «Володар перснів»: Том Бомбаділ підказує, ким є Незнайомець, шоуранер обіцяє відповідь в цьому сезоні»</span>-->
    </div>
    <div class="userinfo-caption">10 хвилин тому</div>
</div>
