<!--prettier-ignore-->
{% if include.image %}
{% assign image = include.image %}
{% else %}
{% assign image = 'https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250' %}
{% endif %}

{% if include.name %}
{% assign name = include.name %}
{% else %}
{% assign name = 'Ігор Віговський' %}
{% endif %}

{% if include.caption %}
{% assign caption = include.caption %}
{% else %}
{% assign caption = '10 хвилин тому' %}
{% endif %}

<div class="userinfo">
    <span class="userinfo-image">
        <img src="{{image}}" />
    </span>
    <div class="userinfo-name">{{name}}</div>
    <div class="userinfo-caption">{{caption}}</div>
</div>
