<div id="post-popover" class="popover" popover x-data="popover">
    <nav class="nav nav-white">
        <button class="nav-button" x-on:click="editPost">
            {% svg icons/edit.svg %}
            <span class="nav-button-label">Змінити</span>
        </button>
        <button class="nav-button">
            {% svg icons/ban.svg %}
            <span class="nav-button-label">Заблокувати автора</span>
        </button>
        <button class="nav-button">
            {% svg icons/circle-minus.svg %}
            <span class="nav-button-label">Відписатися від стрічки</span>
        </button>
    </nav>
</div>
