<div
    id="profile-popover"
    class="popover"
    popover
    x-data="popover"
    x-on:login.window="$el.hidePopover()"
    x-on:logout.window="$el.hidePopover()"
>
    <nav class="nav nav-white">
        <template x-if="!logged">
            <button type="button" class="nav-button" x-on:click="login()">
                {% svg icons/brand-google.svg %}
                <span class="nav-button-label">Увійти через Google</span>
            </button>
        </template>
        <template x-if="logged">
            <a x-bind:href="`/u/${user.identifier}`" class="nav-button">
                {% svg icons/user-circle.svg %}
                <span class="nav-button-label">Профіль</span>
            </a>
        </template>
        <template x-if="logged">
            <a href="/settings" class="nav-button">
                {% svg icons/settings.svg %}
                <span class="nav-button-label">Налаштування</span>
            </a>
        </template>
        <template x-if="logged">
            <a href="/bookmarked" class="nav-button">
                {% svg icons/bookmark.svg %}
                <span class="nav-button-label">Закладки</span>
            </a>
        </template>
        <template x-if="logged">
            <a href="/postponed" class="nav-button">
                {% svg icons/history.svg %}
                <span class="nav-button-label">Відкладені</span>
            </a>
        </template>
        <template x-if="logged">
            <button type="button" class="nav-button" x-on:click="logout">
                {% svg icons/logout.svg %}
                <span class="nav-button-label">Вийти</span>
            </button>
        </template>
    </nav>
</div>
