<div
    id="profile-popover"
    class="popover"
    popover
    style="--popover-anchor: --profile-button-anchor"
>
    <nav class="nav nav-white">
        <a href="#/settings" class="nav-button">
            {% svg icons/settings.svg %}
            <span class="nav-button-label">Налаштування</span>
        </a>
        <a href="#/postponed" class="nav-button">
            {% svg icons/history.svg %}
            <span class="nav-button-label">Відкладені пости</span>
        </a>
        <button type="button" class="nav-button" x-on:click="logout">
            {% svg icons/logout.svg %}
            <span class="nav-button-label">Вийти</span>
        </button>
    </nav>
</div>
