.carousel {
    @apply relative -mx-6;
}

.carousel-items {
    @apply w-full flex flex-row overflow-x-scroll overflow-y-hidden gap-3 px-6;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.carousel-items > .carousel-item:first-child {
}

.carousel-items::-webkit-scrollbar {
    @apply hidden;
}

.carousel-item {
    @apply relative min-w-full;
}

.carousel-item > img {
    @apply min-w-full aspect-video rounded-lg outline outline-1 -outline-offset-1 outline-stone-950/10 object-cover bg-stone-800 bg-no-repeat bg-cover bg-center;
    scroll-snap-align: center;
    background:
        linear-gradient(rgba(12, 10, 9, 0.9), rgba(12, 10, 9, 0.9)),
        var(--image) center no-repeat;
    background-size: auto, cover;
}

.carousel-remove {
    @apply absolute right-2 top-2 text-white p-1 bg-stone-950/50 rounded-full transition active:scale-75;
}

.carousel-button {
    @apply absolute top-0 bottom-0 mt-auto mb-auto w-8 h-8 p-1 text-white bg-stone-950/50 rounded-full transition active:scale-75;
}

.carousel-button.carousel-button-start {
    @apply left-8;
}

.carousel-button.carousel-button-end {
    @apply right-8;
}

.carousel-button:disabled {
    @apply opacity-0 pointer-events-none;
}
