.external {
    @apply relative flex flex-col bg-white rounded-lg outline outline-1 -outline-offset-1 outline-stone-950/10;
}

.external-wrapper.external-placeholder {
    @apply overflow-hidden text-transparent bg-stone-50 rounded-lg pointer-events-none animate-pulse;
}

.external-wrapper.external-placeholder * {
    @apply opacity-0;
}

.external-author {
    @apply flex flex-row items-center gap-3 text-sm font-bold pt-4 pl-4 pr-4;
}

.external-icon {
    @apply avatar;
    --avatar-s: 2rem;
}

.external-title {
    @apply font-medium truncate;
}

.external-caption {
    @apply flex flex-row items-center gap-1 text-sm text-stone-400;
}

.external-summary {
    @apply flex flex-col p-3 rounded-md text-sm;
}

.external-caption::before {
    @apply block w-4 h-4;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='rgb(168 162 158)' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-external-link'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
}

.external-image {
    @apply aspect-video rounded-lg object-cover bg-stone-800 bg-no-repeat bg-cover bg-center;
    background:
        linear-gradient(rgba(12, 10, 9, 0.9), rgba(12, 10, 9, 0.9)),
        var(--image) center no-repeat;
    background-size: auto, cover;
}

.external:has(.external-image) .external-summary {
    @apply p-2;
}

.external:has(.external-image) .external-caption::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-external-link'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
}

.external:has(.external-image) .external-caption {
    @apply text-white;
}

.external:has(.external-image) .external-summary {
    @apply absolute bottom-1 left-1 right-1 bg-stone-950/50 text-white;
}

.external-summary:has(.external-icon) {
    @apply grid auto-rows-auto gap-x-3 text-sm min-w-0;
    grid-template-columns: var(--avatar-s, 2rem) auto;
}

.external-summary:has(.external-caption) .external-icon {
    @apply row-span-2 self-center;
}

.external-summary:active .external-icon {
    @apply scale-75;
}

.external-remove {
    @apply absolute right-2 top-2 w-8 h-8 text-white p-1 bg-stone-950/50 rounded-full transition active:scale-75 bg-no-repeat bg-center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-x'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M18 6l-12 12' /%3E%3Cpath d='M6 6l12 12' /%3E%3C/svg%3E");
}
