.popover:popover-open {
    @apply flex flex-col gap-2 bg-white p-2 my-1 mx-0 border border-stone-200 border-opacity-60 rounded-lg shadow-md shadow-stone-200/45 animate-fade;
    position-anchor: var(--popover-anchor);
    position-area: span-x-start bottom;
}

.popover.popover-top-center:popover-open {
    position-area: top;
}

.popover.popover-bottom-end:popover-open {
    position-area: span-x-start bottom;
}

.popover.popover-top-end:popover-open {
    position-area: span-x-start top;
}

.popover-header {
    @apply flex flex-row gap-2 items-center justify-between;
}

.popover-title {
    @apply p-2 font-bold;
}
