.userinfo {
    @apply flex flex-row items-center gap-x-3 text-sm min-w-0;
    grid-template-columns: var(--avatar-s, 2.5rem) auto;
}

.userinfo-image {
    @apply avatar flex-shrink-0;
    align-self: center;
}

.userinfo:has(.userinfo-caption) {
    @apply grid auto-rows-auto gap-x-3 text-sm min-w-0;
    grid-template-columns: var(--avatar-s, 2.5rem) auto;
}

.userinfo:has(.userinfo-caption) .userinfo-image {
    @apply row-span-2;
}

.userinfo-name {
    @apply font-bold;
}

.userinfo-name > a {
    @apply hover:text-orange-500;
}

.userinfo-status {
    @apply font-normal;
}

.userinfo-caption {
    @apply text-stone-400 text-nowrap truncate;
}

.userinfo.userinfo-placeholder {
    @apply pointer-events-none;
}

.userinfo.userinfo-placeholder .userinfo-image {
    @apply border-none animate-pulse;
}

.userinfo.userinfo-placeholder .userinfo-image > img {
    @apply opacity-0;
}

.userinfo.userinfo-placeholder .userinfo-name {
    @apply text-transparent pointer-events-none bg-stone-50 overflow-hidden w-52 rounded-t-md rounded-br-md animate-pulse;
    height: 1.5rem;
}

.userinfo.userinfo-placeholder .userinfo-caption {
    @apply text-transparent pointer-events-none bg-stone-50 overflow-hidden w-40 rounded-b-md animate-pulse;
    height: 1.25rem;
}
