<template x-if="!logged">
    <button class="button button-primary" popovertarget="profile-popover">
        {% svg icons/plus.svg %}
        <span class="button-label">Пост</span>
    </button>
</template>

<template x-if="logged">
    <a class="button button-primary" href="/editor">
        {% svg icons/plus.svg %}
        <span class="button-label">Пост</span>
    </a>
</template>

<template x-if="!logged">
    <button class="button" popovertarget="profile-popover">
        {% svg icons/bell.svg %}
    </button>
</template>

<template x-if="logged">
    <button class="button" popovertarget="notifications-popover">
        {% svg icons/bell.svg %}
    </button>
</template>

<template x-if="!logged">
    <button class="button" popovertarget="profile-popover">
        {% svg icons/user-circle.svg %}
    </button>
</template>

<template x-if="logged">
    <button class="avatar" popovertarget="profile-popover">
        <img x-bind:src="avatar()" />
    </button>
</template>

<!--prettier-ignore-->
{% include popovers/profile_popover.html %}
{% include popovers/notifications_options_popover.html %}
{% include popovers/notifications_popover.html %}
