---
layout: base
---

<header class="layout-header">
    <div class="layout-container">
        <div class="layout-header-start">
            {% include {{ page.header_start }} %}
        </div>
        {% if page.header_center %}
        <div class="layout-header-center">
            {% include {{ page.header_center }} %}
        </div>
        {% endif %}
        <div class="layout-header-end">{% include {{ page.header_end }} %}</div>
    </div>
</header>

<div class="layout-central">
    <div class="layout-container">
        {% if page.aside_before %}
        <aside class="layout-aside layout-aside-before">
            {% include {{ page.aside_before }} %}
        </aside>
        {% endif %}

        <main class="layout-main">{{ content }}</main>

        {% if page.aside_after %}
        <aside class="layout-aside layout-aside-after">
            {% include {{ page.aside_after }} %}
        </aside>
        {% endif %}
    </div>
</div>

<footer class="layout-footer">
    <div class="layout-container">{% include {{ page.footer }} %}</div>
</footer>

{% include modal.html %}
